NEXT_PUBLIC_VERIFIER_URL=http://127.0.0.1:4100
NEXT_PUBLIC_CHAIN_ENV=local
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_ASSET_REGISTRY_ADDRESS=
NEXT_PUBLIC_ATTESTATION_REGISTRY_ADDRESS=
NEXT_PUBLIC_ESCROW_ADDRESS=
NEXT_PUBLIC_TEST_TOKEN_ADDRESS=
